body{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: fixed;
}

.Headline-Box{
    position: relative;
    width: 600px;
    height: 200px;
    border: 4px;
    border-color: grey;
    border-radius: 15px;
    opacity: 0.6;
    margin-left: 35%;
    margin-top: 30px;
    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                    linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                    linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                    linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%); 
    background-color: #74a6ae;   
    animation-name: example;
}

/**Container**/

.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 25px;
}

.flex-container .h3{
    text-align: center;
    color: #12171e;
}


.flex-box{
    width: 350px;
    height: 200px;
    background: #ace0f9;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    margin: 80px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.left2{
    width: 200px;
    height: 200px;
    background-color: #9f8fa4;
    float: left;
    border-radius: 20px 0px 0px 20px;
    
}

.right2{
    width: 150px;
    height: 200px;
    background-color: #f09819;
    float: right;
    border-radius: 0px 20px 20px 0px;
}

.sandimage{
  height: 100%;
  width: fit-content;
  border-radius: 20px 0px 0px 20px;
}


.flex-box:hover{
    transform: scale(2);
    box-shadow: 2px;
    opacity: 1;
}

  /**Container**/

.flex-container1 {
  margin: 40px auto 0 auto;
  margin-top: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  
}

.box {
  margin: 40px auto 0 auto;
  color: white;
  background-color:lightgray;
  width: 240px;
  margin: 20px;
  text-align: center;
  line-height: 140px;
  font-size: 20px;
  border-radius: 20px;
}

.right{
    width: 120px;
    height: auto;
    float: right;
    background-color: #74a6ae;
    border-radius: 0px 20px 20px 0px;
}

.left {
    width: 120px;
    height: auto;
    float: left;
    background-color: #ace0f9;
    border-radius: 20px 0px 0px 20px;
}

/** table for products **/

.container2 {
	position: absolute;
	top: 1750px;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: #ace0f9;
	color: #fff;
}

th {
	text-align: left;
}

thead th{
	background-color:#55608f;
}

tbody tr:hover {
	background-color: #f09819;
}

tbody td{
    position: relative;
}

tbody td:hover{

	background-color: #f09819;
}


/**animation top**/

@keyframes top-headline {
    0% {color:#f09819;}
  25%  {color:#f83600;}
  50%  {color:#ff5858;}
  100% {color:#f9d423;}
}  

#top-headline{
    color: #f09819;
    font-size: 45px;
    font-style:italic;
    text-align:center;
    padding-top: 75px;
    text-decoration:none;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-name: top-headline;
    animation-iteration-count: infinite; 
}


/**sidebar**/
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-img{
    width: 50px;
    height: 52px;
    border-radius:100%;
    border: 1px solid #eee;
    margin-top: 15px;
}

.sidebar{
    position: absolute;
    top: 0px;
    left:0;
    height: 200vh;
    width:80px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidebar.active~.main-content {
    left: 250px;
    width: calc(100%-250px);
}

.sidebar.active {
    width: 250px; 
}

.sidebar #btn {
    position: absolute;
    color:#fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    margin-top: 30px;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #ace0f9;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 1;
    padding-bottom: 10px;
    padding-left: 30px;
}

.sidebar.active .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 1;
    padding-bottom: 10px;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px; 
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}


.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
    color: #cfd9df;
}

.bold {
    font-weight: 600;
    color: white;
}

.sidebar p {
    opacity: 0;
}

.sidebar .active p {
    opacity: 1;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content{
    position: relative;
    background-color:#eee;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5 ease;
    width: calc(100%- 80px);
    padding: 1rem;
}

/**sidebar end**/

/**location iframe**/

.map_main{
    width: 100%;
    padding: 50px 70px;
    text-align: center;
}