
#top {
    text-align: center;}

#logo {
    color: white;
    background-color:rgb(0, 238, 255);
    display:inline-block;
    font-size: 30px;
    font-weight: bold;
    padding: 8px;
    margin-top: 6px;
}    

#logo-name {
    font-size: 32px;
    font-weight: bold;
    margin: 16px;
}
#navigation a {
    color:black ;
    padding: 8px;
}

#navigation a:hover {
    color:rgb(23, 230, 230) ;
}

#image img {
    width: 75%
}

#main {
    max-width: 800px;
    margin: auto;
}



.ueberschriften {
    padding-bottom:8px;
    text-align:center;  


}

.Quellen{
    margin-bottom: 4px;
}